/**
*
*	Name:			DANA Fonts
*	Version:			1.0
*	Author:			Moslem Ebrahimi (moslemebrahimi.com)
*	Created on:		May 22, 2019
*	Updated on:		May 22, 2019
*	Website:			http://fontiran.com
*	Copyright:		Commercial/Proprietary Software
--------------------------------------------------------------------------------------
فونت دانا یک نرم افزار مالکیتی محسوب می شود. جهت آگاهی از قوانین استفاده از این فونت ها لطفا به وب سایت (فونت ایران دات کام) مراجعه نمایید
--------------------------------------------------------------------------------------
DANA fonts are considered a proprietary software. To gain information about the laws regarding the use of these fonts, please visit www.fontiran.com 
--------------------------------------------------------------------------------------
This set of fonts are used in this project under the license: (.....)
------------------------------------------------------------------------------------- fonts/-
*	
**/

@font-face {
    font-family: dana;
    font-style: normal;
    font-weight: 10;
    src: url("../Fonts/eot/dana-thin.eot");
    src: url("../Fonts/eot/dana-thin.eot?#iefix") format("embedded-opentype"),
        url("../Fonts/woff2/dana-thin.woff2") format("woff2"),
        url("../Fonts/woff/dana-thin.woff") format("woff");
}
@font-face {
    font-family: dana;
    font-style: normal;
    font-weight: 200;
    src: url("../Fonts/eot/dana-extralight.eot");
    src: url("../Fonts/eot/dana-extralight.eot?#iefix")
            format("embedded-opentype"),
        /* IE6-8 */ url("../Fonts/woff2/dana-extralight.woff2") format("woff2"),
        /* FF39+,Chrome36+, Opera24+*/ url("../Fonts/woff/dana-extralight.woff")
            format("woff"); /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
}
@font-face {
    font-family: dana;
    font-style: normal;
    font-weight: 300;
    src: url("../Fonts/eot/dana-light.eot");
    src: url("../Fonts/eot/dana-light.eot?#iefix") format("embedded-opentype"),
        /* IE6-8 */ url("../Fonts/woff2/dana-light.woff2") format("woff2"),
        /* FF39+,Chrome36+, Opera24+*/ url("../Fonts/woff/dana-light.woff")
            format("woff"); /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
}
@font-face {
    font-family: dana;
    font-style: normal;
    font-weight: 500;
    src: url("../Fonts/eot/dana-medium.eot");
    src: url("../Fonts/eot/dana-medium.eot?#iefix") format("embedded-opentype"),
        /* IE6-8 */ url("../Fonts/woff2/dana-medium.woff2") format("woff2"),
        /* FF39+,Chrome36+, Opera24+*/ url("../Fonts/woff/dana-medium.woff")
            format("woff"); /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
}
@font-face {
    font-family: dana;
    font-style: normal;
    font-weight: 600;
    src: url("../Fonts/eot/dana-demibold.eot");
    src: url("../Fonts/eot/dana-demibold.eot?#iefix")
            format("embedded-opentype"),
        /* IE6-8 */ url("../Fonts/woff2/dana-demibold.woff2") format("woff2"),
        /* FF39+,Chrome36+, Opera24+*/ url("../Fonts/woff/dana-demibold.woff")
            format("woff"); /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
}
@font-face {
    font-family: dana;
    font-style: normal;
    font-weight: 750;
    src: url("../Fonts/eot/dana-ultrabold.eot");
    src: url("../Fonts/eot/dana-ultrabold.eot?#iefix")
            format("embedded-opentype"),
        /* IE6-8 */ url("../Fonts/woff2/dana-ultrabold.woff2") format("woff2"),
        /* FF39+,Chrome36+, Opera24+*/ url("../Fonts/woff/dana-ultrabold.woff")
            format("woff"); /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
}
@font-face {
    font-family: dana;
    font-style: normal;
    font-weight: 800;
    src: url("../Fonts/eot/dana-extrabold.eot");
    src: url("../Fonts/eot/dana-extrabold.eot?#iefix")
            format("embedded-opentype"),
        /* IE6-8 */ url("../Fonts/woff2/dana-extrabold.woff2") format("woff2"),
        /* FF39+,Chrome36+, Opera24+*/ url("../Fonts/woff/dana-extrabold.woff")
            format("woff"); /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
}
@font-face {
    font-family: dana;
    font-style: normal;
    font-weight: 900;
    src: url("../Fonts/eot/dana-black.eot");
    src: url("../Fonts/eot/dana-black.eot?#iefix") format("embedded-opentype"),
        /* IE6-8 */ url("../Fonts/woff2/dana-black.woff2") format("woff2"),
        /* FF39+,Chrome36+, Opera24+*/ url("../Fonts/woff/dana-black.woff")
            format("woff"); /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
}
@font-face {
    font-family: dana;
    font-style: normal;
    font-weight: bold;
    src: url("../Fonts/eot/dana-bold.eot");
    src: url("../Fonts/eot/dana-bold.eot?#iefix") format("embedded-opentype"),
        /* IE6-8 */ url("../Fonts/woff2/dana-bold.woff2") format("woff2"),
        /* FF39+,Chrome36+, Opera24+*/ url("../Fonts/woff/dana-bold.woff")
            format("woff"); /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
}
@font-face {
    font-family: dana;
    font-style: normal;
    font-weight: normal;
    src: url("../Fonts/eot/dana-regular.eot");
    src: url("../Fonts/eot/dana-regular.eot?#iefix") format("embedded-opentype"),
        /* IE6-8 */ url("../Fonts/woff2/dana-regular.woff2") format("woff2"),
        /* FF39+,Chrome36+, Opera24+*/ url("../Fonts/woff/dana-regular.woff")
            format("woff"); /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
}
